a{
    text-decoration-line: none;
    color: black;
}

#wrap{
    display: flex;
    justify-content: center;
}

.body_content{
    margin: 4em;
    min-width: 40%;
    max-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.in_body{
    margin: 20px 0;
}

button.in_body{
    border-radius: 1em;
    border : rgba(250,248,173,0) 1px;
    background-color: rgb(144 232 255 / 35%);
    width: 200px;
    height: 40px;
    transition:background-color 1s, transform 1s;
}
button.in_body:hover{
    transition:background-color 1s, transform 1s;
    background-color: rgba(109, 205, 243, 0.58);
}

input.in_small{
    width: 80px;
    height: 40px;
}

input.in_body{
    width: 400px;
    height: 40px;
}

input.small{
    width: 100px;
    height: 40px;
}

label{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

html,body{
    height: 100vh;
    font-family: "Noto Sans";
}

#inner_root, #root{
    height: 100vh;
}